<!DOCTYPE html>
<html>
<body>

<h1>Cell Phone Price Predictor</h1>



<form action="/predict_cell_phone_price"  method="POST">
  <label for="ProducttId">Product_id :&emsp;&nbsp;</label>
  <input type="text" id="ProductId" name="ProductId"><br><br>
  <label for="weight">Weight :  &emsp;&ensp;&emsp;</label>
  <input type="text" id="weight" name="weight"><br><br>
  <label for="Internallmemory">Internal_mem :</label>
  <input type="text" id="Internalmemory" name="Internalmemory"><br><br>
  <label for="RAM">Ram:&emsp;&emsp;&emsp;&emsp;</label>
  <input type="text" id="RAM" name="RAM"><br><br>
  <label for="RearCam">RearCam :&emsp;&ensp;&nbsp;</label>
  <input type="text" id="RearCam" name="RearCam"><br><br>
  <label for="FrontCam">FrontCam :&emsp;&nbsp;&nbsp;</label>
  <input type="text" id="FrontCam" name="FrontCam"><br><br>
  <label for="Battery">Battery :&emsp;&emsp;&ensp;</label>
  <input type="text" id="Battery" name="Battery"><br><br>
  <label for="Thickness">Thickness :&emsp;&ensp;</label>
  <input type="text" id="Thickness" name="Thickness"><br><br>
  
  
  <input type="submit" value="Submit">
</form>



</body>
</html>
